USE [master]
GO
/****** Object:  Database [Clinica]    Script Date: 13/7/2018 23:43:51 ******/
CREATE DATABASE [Clinica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EjemploData', FILENAME = N'C:\Users\Toshiba\OneDrive\Documentos\Estudios\Carreras\UNED\Técnico en Computación e Informática\Fundamentos de Bases de Datos\Módulo 4\Prueba Corta 4\Clinica.mdf' , SIZE = 8192KB , MAXSIZE = 10240KB , FILEGROWTH = 20%)
 LOG ON 
( NAME = N'EjemploLog', FILENAME = N'C:\Users\Toshiba\OneDrive\Documentos\Estudios\Carreras\UNED\Técnico en Computación e Informática\Fundamentos de Bases de Datos\Módulo 4\Prueba Corta 4\Clinica.ldf' , SIZE = 3072KB , MAXSIZE = 5120KB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Clinica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Clinica]
GO
USE [Clinica]
GO
/****** Object:  Table [dbo].[Clinica]    Script Date: 13/7/2018 23:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clinica](
	[Clinica_Cod] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[Num_Cama] [int] NULL,
 CONSTRAINT [PK_Clinica] PRIMARY KEY CLUSTERED 
(
	[Clinica_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dept]    Script Date: 13/7/2018 23:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dept](
	[Dept_No] [int] NOT NULL,
	[DNombre] [varchar](50) NULL,
	[Loc] [varchar](50) NULL,
 CONSTRAINT [PK_Dept] PRIMARY KEY CLUSTERED 
(
	[Dept_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 13/7/2018 23:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[Doctor_No] [int] NOT NULL,
	[Clinica_Cod] [int] NOT NULL,
	[Apellido] [varchar](50) NULL,
	[Especialidad] [varchar](50) NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[Doctor_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emp]    Script Date: 13/7/2018 23:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emp](
	[Emp_No] [int] NOT NULL,
	[Apellido] [varchar](50) NULL,
	[Oficio] [varchar](50) NULL,
	[Dir] [int] NULL,
	[Fecha_Alt] [smalldatetime] NULL,
	[Salario] [numeric](9, 2) NULL,
	[Comision] [numeric](9, 2) NULL,
	[Dept_No] [int] NULL,
 CONSTRAINT [PK_Emp] PRIMARY KEY CLUSTERED 
(
	[Emp_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enfermo]    Script Date: 13/7/2018 23:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enfermo](
	[Inscripcion] [int] NOT NULL,
	[Apellido] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[Fecha_Nac] [varchar](50) NULL,
	[S] [varchar](50) NULL,
	[NSS] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plantilla]    Script Date: 13/7/2018 23:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plantilla](
	[Empleado_No] [int] NOT NULL,
	[Sala_Cod] [int] NOT NULL,
	[Clinica_Cod] [int] NOT NULL,
	[Apellido] [varchar](50) NULL,
	[Funcion] [varchar](50) NULL,
	[T] [varchar](15) NULL,
	[Salario] [numeric](9, 2) NULL,
 CONSTRAINT [PK_Plantilla] PRIMARY KEY CLUSTERED 
(
	[Empleado_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sala]    Script Date: 13/7/2018 23:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala](
	[Sala_Cod] [int] NOT NULL,
	[Clinica_Cod] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Num_Cama] [int] NULL,
 CONSTRAINT [PK_Sala] PRIMARY KEY CLUSTERED 
(
	[Sala_Cod] ASC,
	[Clinica_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Clinica] FOREIGN KEY([Clinica_Cod])
REFERENCES [dbo].[Clinica] ([Clinica_Cod])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Clinica]
GO
ALTER TABLE [dbo].[Emp]  WITH CHECK ADD  CONSTRAINT [FK_Emp_Dept] FOREIGN KEY([Dept_No])
REFERENCES [dbo].[Dept] ([Dept_No])
GO
ALTER TABLE [dbo].[Emp] CHECK CONSTRAINT [FK_Emp_Dept]
GO
ALTER TABLE [dbo].[Plantilla]  WITH CHECK ADD  CONSTRAINT [FK_Plantilla_Sala] FOREIGN KEY([Sala_Cod], [Clinica_Cod])
REFERENCES [dbo].[Sala] ([Sala_Cod], [Clinica_Cod])
GO
ALTER TABLE [dbo].[Plantilla] CHECK CONSTRAINT [FK_Plantilla_Sala]
GO
ALTER TABLE [dbo].[Sala]  WITH CHECK ADD  CONSTRAINT [FK_Sala_Clinica] FOREIGN KEY([Clinica_Cod])
REFERENCES [dbo].[Clinica] ([Clinica_Cod])
GO
ALTER TABLE [dbo].[Sala] CHECK CONSTRAINT [FK_Sala_Clinica]
GO
USE [master]
GO
